.filters {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filterBtn {
    font-size: 14px;
    border-radius: 10px;
    color: white;
    /* background-color: #f08080; */
    background-color: #6a7dfbdf;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.filterBtn:hover {
    /* background-color: #e65c5c; */
    background-color: #485ff6df;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }